/* =============
    Base
============= */
ul{
    padding: 0;

    li{
        list-style: none;
    }
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

h1{
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h4{
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.show-for-sm{
    @include md{
        display: none;
    }
}

.show-for-md{
    display: none;
    @include md{
        display: block;
    }
}

.hide-for-lg{
    @include lg{
        display: none;
    }
}

.left-div{
    border-right: 10px solid;
}

.right-div{
    border-left: 10px solid;
}