/* =============
    Section 5
============= */
#div-img-3{
    background-image: url("../img/section-5/div.jpg");
    width: 100%;
    height: 5vh;
    background-position: center;
    background-size: cover;

    @include md{
        height: 10vh;
    }
}

#s5{
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". container .";
    }

    h2{
        text-align: center;
        padding-bottom: 5px;
        font-size: rem-calc(20);
        font-family: futura-pt-bold, sans-serif;
        font-weight: 700;
        font-style: normal;

        @include md{
            font-size: rem-calc(30);
        }
    }

    h4{
        font-size: rem-calc(18);

        @include md{
            font-size: rem-calc(20);
        }
    }

    p{
        font-size: rem-calc(18);
        padding: 5px 0;
        font-family: futura-pt, sans-serif;
        font-weight: 500;
        font-style: normal;

        @include md{
            font-size: rem-calc(20);
        }

        @include lg{
            font-size: rem-calc(25);
        }
    }

    #s5-container{
        grid-area: container;

        #s5-1{
            background-color: $orange;
            height: 35px;
            width: 20px;
            margin-left: 230px;
        }

        #s5-header{
            h1{
                color: $white;
                background-color: $orange;
                margin: 0 11px 0;
                padding: 40px 12px 0;
                border-radius: 8px;
                font-size: rem-calc(24);

                @include md{
                    margin: 0 180px 0 10px;
                    font-size: rem-calc(45);
                }
            }

            >div{
                height: 10px;
                width: 20px;
                margin-left: 70px;
                background-color: $orange;

                @include md{
                    margin-left: 48.7%;
                }

                @include lg{
                    margin-left: 49.2%;
                }
            }
        }

        #md-grid{
            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "faq press";
            }

            #faq{
                grid-area: faq;
                border: 3px solid $orange;
                margin: 0 5px;
                padding: 25px 0 25px 13px;

                ul{
                    li{
                        padding: 5px 0;
                    }
                }

                @include md{
                    margin: 0;
                    border: none;
                    border-right: 10px solid $orange;               
                }
            }

            #s5-2{
                background-color: $orange;
                height: 35px;
                width: 20px;
                margin-left: 230px;
            }

            #press{
                grid-area: press;
                border: 3px solid $orange;
                margin: 0 5px;
                padding: 25px 13px;

                @include md{
                    margin: 0;
                    border: none;
                    border-left: 10px solid $orange;               
                }
            }
        }
        

        #s5-3{
            background-color: $orange;
            height: 35px;
            width: 20px;
            margin-left: 150px;

            @include md{
                margin-left: 48.7%;
            }

            @include lg{
                margin-left: 49.2%;
            }
        }

        #contacts{
            border: 3px solid $orange;
            margin: 0 5px;
            padding: 25px 13px;

            li{
                font-size: rem-calc(18);
                font-family: futura-pt, sans-serif;
                font-weight: 500;
                font-style: normal;

                @include md{
                    font-size: rem-calc(20);
                }

                @include lg{
                    font-size: rem-calc(25);
                }
            }

            @include md{
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-areas: "as kb";
                border: 10px solid $orange;
                margin: 0;

                #as{
                    grid-area: as;
                }

                #kb{
                    grid-area: kb;
                }
            }
        }

        #s5-5{
            background-color: $orange;
            height: 35px;
            width: 20px;
            margin-left: 70px;
        }
    }
    

    

    
}