/* =============
    Section 6
============= */
#div-img-4 {
    background-image: url("../img/section-6/div.jpg");
    background-position: center;
    background-size: cover;
    height: 5vh;
    width: 100%;

    @include md {
        height: 10vh;
    }
}

#s6 {
    @include xl {
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1200px auto;
    }

    #s6-container {
        grid-area: container;

        #s6-1 {
            background-color: $green;
            height: 35px;
            margin-left: 70px;
            width: 20px;
        }

        #s6-header {
            h1 {
                background-color: $green;
                border-radius: 8px;
                color: $white;
                font-size: rem-calc(24);
                margin: 0 11px 0;
                padding: 40px 12px 0;

                @include md {
                    font-size: rem-calc(45);
                    margin: 0 180px 0 10px;
                }
            }

            >div {
                background-color: $green;
                height: 20px;
                margin-left: 150px;
                width: 20px;
            }
        }

        ul {
            display: grid;
            gap: 20px;
            grid-template-areas: "g1"
                "g2"
                "g3"
                "g4"
                "g5";
            grid-template-rows: repeat(5, 160px);
            margin-bottom: 0;
            margin-top: 0;

            @include md {
                gap: 0px;
                grid-template-areas: "g1 g1 g1 g1"
                    "g1 g1 g1 g1"
                    "g1 g1 g1 g1"
                    "g2 g3 g4 g5";
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 100px);
            }

            @include lg {
                grid-template-rows: repeat(4, 150px);
            }

            @include xl {
                grid-template-rows: repeat(4, 200px);
            }

            li {
                background-position: center;
                background-size: cover;
            }

            #g1 {
                background-image: url("../img/section-6/g1.jpg");
                grid-area: g1;

                @include md {
                    border: 10px solid $green;
                }
            }

            #g2 {
                background-image: url("../img/section-6/g2.jpg");
                grid-area: g2;

                @include md {
                    border: 10px solid $green;
                }
            }

            #g3 {
                background-image: url("../img/section-6/g3.jpg");
                grid-area: g3;

                @include md {
                    border: 10px solid $green;
                }
            }

            #g4 {
                background-image: url("../img/section-6/g4.jpg");
                grid-area: g4;

                @include md {
                    border: 10px solid $green;
                }
            }

            #g5 {
                background-image: url("../img/section-6/g5.jpg");
                grid-area: g5;

                @include md {
                    border: 10px solid $green;
                }
            }
        }
    }
}