/* =============
    Section 4
============= */
#s4{

    h2{
        text-align: center;
        padding-bottom: 15px;
        font-size: rem-calc(20);
    }

    p{
        font-size: rem-calc(18);
    }

    #div-img-2{
        background-image: url("../img/section-4/div.jpg");
        width: 100%;
        height: 12vh;
        background-position: center;
        background-size: cover;
    }

    #s4-1{
        background-color: $blue;
        height: 35px;
        width: 20px;
        margin-left: 70px;
    }

    #s4-header{
        h1{
            color: $white;
            background-color: $blue;
            margin: 0 11px 0;
            padding: 40px 12px 0;
            border-radius: 8px;
            font-size: rem-calc(24);

            @include md{
                margin: 0px 180px 0 10px;
                font-size: rem-calc(45);
            }

            @include lg{
            }
        }

        >div{
            height: 10px;
            width: 20px;
            margin-left: 150px;
            background-color: $blue;
        }
    }

    #tailgate{
        border: 3px solid $blue;
        margin: 0 5px;
        padding: 25px 0 25px 13px;

        h3{
            font-size: rem-calc(18);
            padding-top: 10px;
        }

        p{
            padding-top: 5px;
        }

        >div{
            background-image: url("../img/section-4/tailgate.png");
            height: 160px;
            width: 240px;
            background-size: cover;
            background-position: center;
        }
    }

    #s4-2{
        background-color: $blue;
        height: 35px;
        width: 20px;
        margin-left: 230px;
    }

    #guests{
        #eagle{
            border: 3px solid $blue;
            margin: 0 5px;
            padding: 25px 0 25px 13px;

            >div{
                background-image: url("../img/section-4/eagle.png");
                width: 265px;
                height: 155px;
                background-position: center;
                background-size: 265px;
            }
        }

        >div{
            background-color: $blue;
            height: 35px;
            width: 20px;
            margin-left: 150px;
        }

        #uzi{
            border: 3px solid $blue;
            margin: 0 5px;
            padding: 25px 0 25px 13px;

            >div{
                background-image: url("../img/section-4/uzi.png");
                width: 265px;
                height: 155px;
                background-position: 0 0;
                background-size: 265px;
            }
        }
    }

    #s4-3{
        background-color: $blue;
        height: 35px;
        width: 20px;
        margin-left: 70px;
    }

    #rnd{
        h3{
            font-size: rem-calc(18);
            text-align: center;
            padding: 10px 0 5px;
        }

        p{
            font-size: rem-calc(16);
        }

        #jeep{
            border: 3px solid $blue;
            margin: 0 5px;
            padding: 25px 0 25px 13px;

            section{
               >div{
                    background-image: url("../img/section-4/jeep.png");
                    height: 95px;
                    background-position: center;
                    background-size: 95px;
                    background-repeat: no-repeat;
                } 

                h3,h6{
                    text-align: center;
                }
            }
            
        }

        #s4-4{
            background-color: $blue;
            height: 35px;
            width: 20px;
            margin-left: 70px;
        }

        #toyota{
            border: 3px solid $blue;
            margin: 0 5px;
            padding: 25px 0 25px 13px;

            section{
                >div{
                     background-image: url("../img/section-4/toyota.png");
                     height: 95px;
                     background-position: center;
                     background-size: 95px;
                     background-repeat: no-repeat;
                 } 
 
                 h3,h6{
                     text-align: center;
                 }
             }
        }

        #s4-5{
            background-color: $blue;
            height: 35px;
            width: 20px;
            margin-left: 150px;
        }

        #vw{
            border: 3px solid $blue;
            margin: 0 5px;
            padding: 25px 0 25px 13px;

            section{
                >div{
                     background-image: url("../img/section-4/vw.png");
                     height: 95px;
                     background-position: center;
                     background-size: 95px;
                     background-repeat: no-repeat;
                 } 
 
                 h3,h6{
                     text-align: center;
                 }
             }
        }
    }

    #s4-6{
        background-color: $blue;
        height: 35px;
        width: 20px;
        margin-left: 230px;
    }
}