/* =============
    Section 2
============= */
#s2 {
    @include xl {
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1200px auto;
    }

    #s2-container {
        grid-area: container;

        #s2-header {
            h1 {
                background-color: $orange;
                border-radius: 8px;
                color: $white;
                font-size: rem-calc(24);
                margin: 10px 11px 0;
                padding: 40px 12px 0;

                @include md {
                    font-size: rem-calc(45);
                    margin: 50px 180px 0 10px;
                }

                @include lg {
                    margin: 50px 470px 0 10px;
                }
            }

            h4 {
                font-family: futura-pt, sans-serif;
                font-size: rem-calc(18);
                font-style: normal;
                font-weight: 500;
                padding: 10px 10px;
                text-align: center;

                @include md {
                    text-align: start;
                }

                @include lg {
                    font-size: rem-calc(20);
                }
            }

            >div {
                background-color: $orange;
                height: 10px;
                margin-left: 70px;
                width: 20px;

                @include md {
                    margin-left: 48.7%;
                }

                @include lg {
                    margin-left: 49%;
                }

                @include xl {
                    margin-left: 49.2%;
                }
            }
        }

        #s2-content {
            @include md {
                display: grid;
                gap: 0px;
                grid-template-areas: "dnt dnt dnt map map map"
                    "img img article article article article";
                grid-template-columns: repeat(6, 1fr);
            }

            #dnt {
                border: 3px solid $orange;
                margin: 0 5px;
                padding: 25px 0 25px 13px;

                h2 {
                    font-family: futura-pt-bold, sans-serif;
                    font-size: rem-calc(18);
                    font-style: normal;
                    font-weight: 700;
                    padding-bottom: 2px;

                    @include md {
                        font-size: rem-calc(20);
                    }

                    @include lg {
                        font-size: rem-calc(25);
                    }
                }

                h3 {
                    font-family: futura-pt, sans-serif;
                    font-size: rem-calc(18);
                    font-style: normal;
                    font-weight: 500;
                    padding-bottom: 10px;
                    padding-left: 15px;

                    @include md {
                        font-size: rem-calc(20);
                    }

                    @include lg {
                        font-size: rem-calc(25);
                    }
                }

                @include md {
                    border: none;
                    border-bottom: 10px solid $orange;
                    border-right: 10px solid $orange;
                    grid-area: dnt;
                    margin: 0;
                }
            }

            #s2-2 {
                background-color: $orange;
                height: 20px;
                margin-left: 150px;
                width: 20px;
            }

            #s2-map {
                background-image: url("../img/section-2/map.png");
                background-position: center;
                background-size: cover;
                border: 3px solid $orange;
                height: 30vh;
                margin: 0 5px;

                @include md {
                    border: none;
                    border-bottom: 10px solid $orange;
                    border-left: 10px solid $orange;
                    grid-area: map;
                    height: 40vh;
                    margin: 0;
                }

                @include lg {
                    height: 35vh;
                }
            }

            #s2-3 {
                background-color: $orange;
                height: 20px;
                margin-left: 70px;
                width: 20px;
            }

            article {
                border: 3px solid $orange;
                margin: 0 5px;
                padding: 7px 0 0 4px;

                h2 {
                    font-family: futura-pt-bold, sans-serif;
                    font-size: rem-calc(18);
                    font-style: normal;
                    font-weight: 700;
                    padding-top: 5px;

                    @include md {
                        font-size: rem-calc(20);
                        padding-right: 10px;
                    }

                    @include lg {
                        font-size: rem-calc(25);
                    }
                }

                h3 {
                    font-family: futura-pt, sans-serif;
                    font-size: rem-calc(17);
                    font-style: normal;
                    font-weight: 500;

                    @include md {
                        font-size: rem-calc(20);
                    }

                    @include lg {
                        font-size: rem-calc(25);
                    }
                }

                ul {
                    font-family: futura-pt, sans-serif;
                    font-size: rem-calc(18);
                    font-style: normal;
                    font-weight: 500;

                    @include md {
                        font-size: rem-calc(20);
                    }

                    @include lg {
                        font-size: rem-calc(25);
                    }
                }

                @include md {
                    border: none;
                    border-left: 10px solid $orange;
                    border-top: 10px solid $orange;
                    grid-area: article;
                    margin: 0;
                }
            }

            #s2-4 {
                background-color: $orange;
                height: 20px;
                margin-left: 230px;
                width: 20px;
            }

            #s2-img {
                background-image: url("../img/section-2/convention.jpg");
                background-position: center;
                background-size: cover;
                border: 3px solid $orange;
                height: 30vh;
                margin: 0 5px;

                @include md {
                    border: none;
                    border-right: 10px solid $orange;
                    border-top: 10px solid $orange;
                    grid-area: img;
                    margin: 0;
                }

                @include lg {
                    height: 30vh;
                }
            }
        }

        #s2-5 {
            background-color: $orange;
            height: 20px;
            margin-left: 246px;
            width: 20px;

            @include lg {
                margin-left: 32.3%;
            }

            @include xl {
                margin-left: 32.5%;
            }
        }
    }
}