/* =============
    Section 6
============= */
#div-img-4{
    background-image: url("../img/section-6/div.jpg");
    width: 100%;
    height: 5vh;
    background-position: center;
    background-size: cover;

    @include md{
        height: 10vh;
    }
}

#s6{
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". container .";
    }

    #s6-container{
        grid-area: container;

        #s6-1{
            background-color: $green;
            height: 35px;
            width: 20px;
            margin-left: 70px;
        }

        #s6-header{
            h1{
                color: $white;
                background-color: $green;
                margin: 0 11px 0;
                padding: 40px 12px 0;
                border-radius: 8px;
                font-size: rem-calc(24);

                @include md{
                    margin: 0 180px 0 10px;
                    font-size: rem-calc(45);
                }
            }

            >div{
                height: 20px;
                width: 20px;
                margin-left: 150px;
                background-color: $green;
            }
        }

        ul{
            margin-top: 0;
            margin-bottom: 0;
            display: grid;
            gap: 20px;
            grid-template-rows: repeat(5, 160px);
            grid-template-areas: "g1"
            "g2"
            "g3"
            "g4"
            "g5";

            @include md{
                gap: 0px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 100px);
                grid-template-areas: "g1 g1 g1 g1"
                "g1 g1 g1 g1"
                "g1 g1 g1 g1"
                "g2 g3 g4 g5";
            }
            
            @include lg{
                grid-template-rows: repeat(4, 150px);
            }

            @include xl{
                grid-template-rows: repeat(4, 200px);
            }

            li{
                background-position: center;
                background-size: cover;  
            }

            #g1{
                background-image: url("../img/section-6/g1.jpg");
                grid-area: g1;

                @include md{
                    border: 10px solid $green;
                }
            }

            #g2{
                background-image: url("../img/section-6/g2.jpg");
                grid-area: g2;

                @include md{
                    border: 10px solid $green;
                }
            }

            #g3{
                background-image: url("../img/section-6/g3.jpg");
                grid-area: g3;

                @include md{
                    border: 10px solid $green;
                }
            }

            #g4{
                background-image: url("../img/section-6/g4.jpg");
                grid-area: g4;

                @include md{
                    border: 10px solid $green;
                }
            }

            #g5{
                background-image: url("../img/section-6/g5.jpg");
                grid-area: g5;

                @include md{
                    border: 10px solid $green;
                }
            }
        }
    }
}