/* =============
    Section 5
============= */
#s5{
    h2{
        text-align: center;
        padding-bottom: 5px;
        font-size: rem-calc(20);
    }

    p{
        font-size: rem-calc(18);
        padding: 5px 0;
    }

    #div-img-3{
        background-image: url("../img/section-5/div.jpg");
        width: 100%;
        height: 5vh;
        background-position: center;
        background-size: cover;
    }

    #s5-1{
        background-color: $orange;
        height: 35px;
        width: 20px;
        margin-left: 230px;
    }

    #s5-header{
        h1{
            color: $white;
            background-color: $orange;
            margin: 0 11px 0;
            padding: 40px 12px 0;
            border-radius: 8px;
            font-size: rem-calc(24);

            @include md{
                margin: 50px 180px 0 10px;
                font-size: rem-calc(45);
            }

            @include lg{
            }
        }

        >div{
            height: 10px;
            width: 20px;
            margin-left: 70px;
            background-color: $orange;
        }
    }

    #faq{
        border: 3px solid $orange;
        margin: 0 5px;
        padding: 25px 0 25px 13px;
    }

    #s5-2{
        background-color: $orange;
        height: 35px;
        width: 20px;
        margin-left: 230px;
    }

    #press{
        border: 3px solid $orange;
        margin: 0 5px;
        padding: 25px 13px;
    }

    #s5-3{
        background-color: $orange;
        height: 35px;
        width: 20px;
        margin-left: 150px;
    }

    #contacts{
        border: 3px solid $orange;
        margin: 0 5px;
        padding: 25px 13px;
    }

    #s5-5{
        background-color: $orange;
        height: 35px;
        width: 20px;
        margin-left: 70px;
    }
}