/* =============
    Footer
============= */
#footer {
    @include xl {
        display: grid;
        grid-template-areas: ". container .";
        grid-template-columns: auto 1200px auto;
    }

    #footer-container {
        border-top: 3px solid $blue;
        display: grid;
        grid-area: container;
        grid-template-areas: "links logo";
        grid-template-columns: 65% auto;
        padding: 10px;
        text-align: center;

        @include md {
            grid-template-columns: 15% auto 20%;
        }

        #sm-logo {
            grid-area: logo;
            justify-self: end;

            @include md {}
        }

        ul {
            display: flex;
            grid-area: links;

            li {
                margin: 0 10% 0 0;

                a:link,
                a:visited {
                    color: $grey;
                    font-size: rem-calc(35);
                    transition: 0.25s;
                }

                a:hover,
                a:active {
                    color: $green;
                }
            }
        }
    }
}