/* =============
    Footer
============= */
#footer{
    border-top: 3px solid $orange;
    display: flex;
    text-align: center;
    padding: 10px;
    
    img{
        height: 50px;
    }

    ul{
        display: flex;
        justify-content: center;

        li{
            margin: 0 5px;
            a:link, a:visited{
                color: $grey;
                font-size: rem-calc(35);
                transition: 0.25s;
            }

            a:hover, a:active{
                color: $green;
            }
        }
    }
}