/* =============
    Header
============= */
header {
    background-color: $white;
    border-bottom: 3px solid $green;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div {
        display: grid;
        grid-template-areas: "burger logo"
            "nav nav";
        grid-template-columns: 30% auto;

        @include md {
            grid-template-columns: 58% auto;
        }

        @include lg {
            grid-template-areas: "nav logo";
            grid-template-columns: auto 31%;
        }

        #burger {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 20px;

            @include lg {
                display: none !important;
            }

            img {
                cursor: pointer;
                height: 30px;

                @include md {
                    height: 40px;
                }
            }
        }

        #logo {
            align-items: center;
            grid-area: logo;
            justify-self: end;
            padding: 0;

            img {
                height: 50px;
                justify-content: right;
                margin: 0;
                padding: 10px 0 0;

                @include md {
                    height: 85px;
                }
            }
        }

        #nav {
            background-color: #fff;
            display: none;
            grid-area: nav;
            padding: 20px;

            @include lg {
                background-color: #fff;
                display: flex !important;
            }
        }
    }
}