/* =============
    Header
============= */
header{
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px solid $green;

    >div{
        display: grid;
        grid-template-columns: 38% auto;
        grid-template-areas: "burger logo"
        "nav nav";

        @include md{
            grid-template-columns: 58% auto;
        }

        @include lg{
            grid-template-areas: "nav logo";
            grid-template-columns: auto 31%;
        }

        #burger{
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 20px;

            @include lg{
                display: none !important;
            }

            img{
                height: 30px;
                cursor: pointer;

                @include md{
                    height: 40px;
                }
            }
        }

        #logo{
            grid-area: logo;
            padding: 0;
            justify-content: right;
            align-items: center;

            img{
                height: 50px;
                margin: 0;
                padding: 10px 0 0;

                @include md{
                    height: 85px;
                }
            }
        }

        #nav{
            background-color: #fff;
            display: none;
            grid-area: nav;
            padding: 20px;

            @include lg{
                background-color: #fff;
                display: flex !important;
            }
        }
    }
}