/* =============
    Header
============= */
header{
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid $green;

    >div{
        display: grid;
        grid-template-columns: 70% auto;
        grid-template-areas: "burger logo"
        "nav nav";

        @include lg{
            grid-template-areas: "nav logo";
            grid-template-columns: auto 23%;
        }

        #burger{
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 20px;

            @include lg{
                display: none !important;
            }

            img{
                cursor: pointer;
            }
        }

        #logo{
            grid-area: logo;
            padding: 0;
            justify-content: end;
            align-items: center;

            img{
                height: 60px;
                margin: 0;
                padding: 18px 0 0;
            }
        }

        #nav{
            background-color: #fff;
            display: none;
            grid-area: nav;
            padding: 20px;

            @include lg{
                background-color: #fff;
                display: flex !important;
            }
        }
    }
}